################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AMS3ASales.API/FileContentIndex/69ebd657-ab7e-4293-8ba3-dd87c26b7806.vsidx
/.vs/AMS3ASales.API/FileContentIndex/69ebd657-ab7e-4293-8ba3-dd87c26b7806.vsidx
*.vsidx
