################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AMS3ASales.API/FileContentIndex/69ebd657-ab7e-4293-8ba3-dd87c26b7806.vsidx
/.vs/AMS3ASales.API/FileContentIndex/69ebd657-ab7e-4293-8ba3-dd87c26b7806.vsidx
/.vs/AMS3ASales.API/FileContentIndex/85b0effc-0430-4ea0-aa4d-d0149ec0a146.vsidx
/.vs/AMS3ASales.API/FileContentIndex/99b62b68-c13f-4be0-b407-acb2fd4b81f1.vsidx
/.vs/AMS3ASales.API/FileContentIndex/3b07dad7-cba6-4d83-b171-815d6601d594.vsidx
/.vs/AMS3ASales.API/FileContentIndex/fb8254bd-9990-4fc4-83f2-b7a0f5da19dc.vsidx
